<!DOCTYPE html>
<html lang="en">
<head>
    <!--Start of meta tags-->
    <meta charset="utf-8" />
    <meta name="description" content="Industry 4.0 IIT Indore" />
    <!--description about the website-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Smart manufacturing,iiti,IIT Indore,industry 4.0,isw,search" />
    <meta name="author" content="Souvik Mandal">
    <!--/.End of meta tags-->
    <title>
        Results for "<%=username %>"
    </title>
    <link rel='stylesheet' href='/stylesheets/results.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="col-xs-12">
        <nav class="navbar navbar-inverse navbar_ab navbar-fixed-top">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand temp changecolor" href="/" style="font-size: 220%">ISW</a>
                </div>


                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li >
                            <a href="/" class="navbar_links_font">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        
                            <section class="webdesigntuts-workshop" >
                              <form class="navbar-form navbar-right" action="/search" method="post" style="margin: 0px;" >     
                                <input type="search"  placeholder="What are you looking ?" minlength=2 name="search" class="col-xs-9"/>         
                                <button class="col-xs-3">Search</button>
                              </form>
                            </section>
                       
                    </ul>
                </div>
            </div>
        </nav>
        <!--./End of header container-->
    </div>
    <div class="container-fluid main_contant">
        <div style="color: rgba(0, 161, 210,.9); text-shadow: 1px 1px 0  rgba(0,0,0,0.2);text-align: center"> <h1>Showing results for "<%=username %>"</h1></div>
        <%
            if(result1.length+result_2_1_types.length+result2.length+result3.length+result_2_2_types.length+result_2_3_types.length==0){
        %>
                <div style="font-size: 110%;">
                    Your search - <b style="display: inline;"><%=username %> </b>- did not match any documents.<br/>
                    Suggestions:<br/>
                    <ul>
                        <li>Make sure that all words are spelled correctly.</li>
                        <li>Try different keywords.</li>
                        <li>Try more general keywords.</li>
                    </ul>
                </div>
        <%
                }else{
        %>
        <table class="table table-hover table-responsive" style="background-color: white;">
            <thead>
            <tr>
                <th>Username</th>
                <th>Type</th>
            </tr>
            </thead>
            <tbody>
            <%
                // Showing results that similar to search key in "machine types" collection
                for(var i=0;i<result1.length;i++){
            %>
            <tr  onclick="window.location.href='details/<%= result1[i].username %>';">
            	<td>
                	
                    <%=result1[i].username %>
                </td>

                <td><%=result1[i].type %></td>
                
            </tr>
            <%
                }
            %>
            <%
                // Showing results that similar to search key in " details " collection
                for(var i=0;i<result_2_1_types.length;i++){
            %>
            <tr onclick="window.location.href='details/<%= result_2_1_types[i].username %>';">
                <td>
                    <%=result_2_1_types[i].username %>
                    
                </td>

                <td><%=result_2_1_types[i].type %></td>
            </tr>
            <%
                }
            %>
            <%
                // Showing results which match first half of user input ,in "machine types" collection
                for(var i=0;i<result2.length;i++){
            %>

            <tr onclick="window.location.href='details/<%= result2[i].username %>';">
                <td>
                <%=result2[i].username %>
                </td>
                <td><%=result2[i].type %></td>
            </tr>


            <%
            }
            %>
            <%
                // Showing results which match last half of user input ,in "machine types" collection
                for(var i=0;i<result3.length;i++){
            %>

            <tr onclick="window.location.href='details/<%= result3[i].username %>';">
                <td>
                <%=result3[i].username %>
                </td>
                <td><%=result3[i].type %></td>
            </tr>


            <%
            }
            %>





            <%
                // Showing results which match first half of user input ,in "details" collection
                for(var i=0;i<result_2_2_types.length;i++){
            %>

            <tr onclick="window.location.href='details/<%= result_2_2_types[i].username %>';">
                <td>
                <%=result_2_2_types[i].username %> 
                </td>
                <td><%=result_2_2_types[i].type %></td>
            </tr>


            <%
            }
            %>
            <%
                // Showing results which match last half of user input ,in "details" collection
                for(var i=0;i<result_2_3_types.length;i++){
            %>

            <tr onclick="window.location.href='details/<%= result_2_3_types[i].username %>';">
                <td>
                <%=result_2_3_types[i].username %> 
                </td>
                <td><%=result_2_3_types[i].type %></td>
            </tr>


            <%
            }
        }
            %>
            </tbody>
        </table>
    </div>
    </body>
</html>