

<script type="text/javascript">

$(document).ready(function () {
    
    

    //set window size equal to window size
    function setHeight() {
        windowHeight = $(window).innerHeight();
        $('.sidebar').css('min-height', windowHeight);
    };
    setHeight();
    
    $(window).resize(function() {
        setHeight();
    });




    $('.chatHead').click(function(){
        $('.chatBody').slideToggle();
    });

    $('.msgHead').click(function(){
        $('.msgWrap').slideToggle();
    });

    $('.close').click(function(){
        $('.msgBox').hide();
    });

    //initially msgChat box hide
    $('.msgBox').hide();

    
    //show msgChatBox on user click
    $(document).on('click','.user',function(){
        $('.msgWrap').show();
        $('.msgBox').show();
        //var chatUser=this.id;
        document.getElementById("demo").innerHTML = this.id;
    });  
     $('.machineRegistrationForm').click(function(){
        $('.Main').hide();
        $('.UPDATE').hide();
        $('.Static').hide();
        $('.VIEW').show();
      // alert("test passed");
    });
    $('.viewProfile').click(function(){
        //$('.UPDATE').hide();
        $('.Main').hide();
        $('.VIEW').hide();
        $('.Static').hide();
        $('.UPDATE').show();
      // alert("test passed");
    });
    $('.dynamicProfile').click(function(){
        //$('.UPDATE').hide();
        $('.UPDATE').hide();
        $('.VIEW').hide();
        $('.Static').hide();
        $('.Main').show();
      // alert("test passed");
    });

    $('.staticProfile').click(function(){
        //$('.UPDATE').hide();
        $('.UPDATE').hide();
        $('.VIEW').hide();
        $('.Main').hide();
        $('.Static').show();
        

      // alert("test passed");
    });
    


    /*
    $('.form-control').keypress(function(e){
        if(e.keyCode== 13){
            var msg= $(this).val();
            $(this).val("");
            $("<div class='msgB'>"+ msg + "</div>").insertBefore('.msg_insert');
            $('.msgBody').scrollTop($('.msgBody')[0].scrollHeight);
        }
    });
    */
    
    

    
    var socket= io.connect();
    var $msgA= $('#msgA');
    var $msgB= $('#msgB');
    var $user= $('#user');
    
    
        
    var loginUser = "{{ data.username }}";
    
    //if new user login then update to other
    socket.emit('newUser', loginUser, function(data){});


    //update user in online list
    socket.on('getUsers', function(data){
        //add all online user
        $('.user').remove();
        for(i=0; i<data.length; i++){
            //alert(data[i]);
            if(data[i]!== loginUser){
                $("div.insertUser").append("<div class='user' id='"+data[i]+"'>" + data[i] + "</div>");
                $('.chatBody').scrollTop($('.chatBody')[0].scrollHeight);
            }
        }

    });

                  
        



    //send msg to socket
    $('.form-control').keypress(function(e){
        if(e.keyCode== 13){
            e.preventDefault();
            var msg= $(this).val();
            $(this).val("");
            socket.emit('msgSent', loginUser+" says:- "+msg);
            
        }
    });

    //receiving msg from socket and add into msgBox
    socket.on('newMsg', function(data){
        $("<div class='msgB'>"+ data.msg + "</div>").insertBefore('.msg_insert');
        $('.msgBody').scrollTop($('.msgBody')[0].scrollHeight);
    });
    

    
    //Update temperature
    var tmp;
    socket.on('updateTemp', function(data){
        tmp =data;
        //document.getElementById('lbl').innerHTML = data;
        google.charts.setOnLoadCallback(drawGauge);
        if(tmp>32){
            $('.tempHigh').show();
            $('.tempLow').hide();
        }
        else{
            $('.tempHigh').hide();
            $('.tempLow').show();
        }

    });

    
    //alert(tmp);
    google.charts.load('current', {'packages':['gauge']});
    //google.charts.setOnLoadCallback(drawGauge);

    var gaugeOptions = {min: 0, max: 100, yellowFrom: 40, yellowTo: 50,
    redFrom: 50, redTo: 280, minorTicks: 10};
    var gauge;

    function drawGauge() {
        gaugeData = new google.visualization.DataTable();
        gaugeData.addColumn('number', '{{loginUser}}');
        gaugeData.addRows(1);
        
        gaugeData.setCell(0, 0, tmp);
        gauge = new google.visualization.Gauge(document.getElementById('gauge_div'));
        gauge.draw(gaugeData, gaugeOptions);
    }

    


    //sending machine status
    $("input[name='on']").click(function(){
        var checkValue= $('input[name=on]:checked').val();
        //alert(checkValue);
        socket.emit('getMachineStatus',checkValue );
    });
    //get and set machine status
    socket.on('setMachineStatus', function(data){
        document.getElementById('machineStatus').textContent = data;
          
    });
    


    
});
    
</script>

<div class="container-fluide">
    <div class="row main">
        <div class="col-md-2 leftPanel">
            <center><h3>Login:{{data.username}}</h3></center>
            </br>
             <style>
                label{color:darkblue;}
            </style>
            <h1>   <Label class="dynamicProfile" onmouseover="" style="cursor: pointer;" onclick="test()">DYNAMIC PROFILE</Label>
          
            </br>
            <Label class="machineRegistrationForm" onmouseover="" style="cursor: pointer;" onclick="test()">UPDATE PROFILE</Label>
            </br>     
            <Label class="viewProfile" onmouseover="" style="cursor: pointer;" onclick="test()">VIEW PROFILE</Label>
            </br>
            <Label class="staticProfile" onmouseover="" style="cursor: pointer;" onclick="test()">MANUAL PROFILE</Label> 
            
        </div>
        
        <div class="col-md-8 middlePanel scrollbar " id="scroll">
            <!-- temperature in digit -->
            <!--
            <center><h3 id="lbl"></h3></center></br>
            -->
            <center>
                <div class="Main"> 
                    <!-- temperature in guage -->
                    <center>
                        <div class="row">
                            <div class="col-md-6" >
                                <div id="gauge_div" style="width:200px; height: 200px;">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p>Machine status: </p><label id="machineStatus" style="font-size: 30px;">On</label>
                            </div>
                        </div>
                    </center>



                    <div class="tempHigh" style="display:none;">
                        <div  class="alert alert-danger">
                            Temperature is exceeded from max limit, keep it down.</br>
                            <strong>Machine health state: 70%</strong>
                        </div>
                    </div>
                    
                    <div class="tempLow" style="display:none;">
                        <div class="alert alert-success">
                            Temperature in conrol.</br>
                            <strong>Machine health state: 98%</strong>
                        </div>
                    </div>
                    <!--

                    <div class="video post">
                        <p align="left">Machine {{loginUser}} is live</p>
                        <div align="center" class="img-thumbnail embed-responsive embed-responsive-16by9">
                            <video autoplay loop class="embed-responsive-item">
                                <source src="/Videos/3DPrinting.mp4" type="video/mp4">
                            </video>
                        </div>
                    </div>
                    -->
                    <div class="img post">
                        <img src="/Images/job1.jpg" class="img-thumbnail img-responsive"  alt="Cinque Terre">
                    </div>

                    <div class="img post">
                        <img src="/Images/job1.jpg" class="img-thumbnail img-responsive" alt="Cinque Terre">
                    </div>
            
                </div>
                
                <div class="Static" style ="display : none ; text-align: left;"  >
                    <style>
                        ul{
                            list-style:none;             
                        }
                
                        label{
                            cursor: pointer;
                        }
                        h4{color:red;}
                        h1{color:blue;}
                    </style>
                        <h1>Machine Status Page</h1>
                        <br><br>
                        <div class="row">
                            <form class="on">
                            <div class="col-lg-4">
                                <ul><h4>ON</h4>
                                    <li><input id="rdo1" type="radio" name="on" value="printing"><label for="rdo1">Printing</label></li>
                                    <li><input id="rdo2" type="radio" name="on" value="productLoading"><label for="rdo2">Product loading</label></li>
                                    <li><input id="rdo3" type="radio" name="on" value="preheating"><label for="rdo3">Preheating</label></li>
                                    <li><input id="rdo4" type="radio" name="on" value="positioningOfExtruder"><label for="rdo4">Positioning of extruder</label></li>
                                    <li><input id="rdo5" type="radio" name="on" vlaue="printStarted"><label for="rdo5"> Print started</label></li>
                                    <li><input id="rdo6" type="radio" name="on" value="printCompleted"><label for="rdo6">Print completed</label></li>
                                    <li><input id="rdo7" type="radio" name="on" value="autoHoming"><label for="rdo7">Auto homing </label></li>
                                    <li><input id="rdo8" type="radio" name="on" value="readyToUnload"><label for="rdo8">Ready to unload</label></li>
                                    <li><input id="rdo9" type="radio" name="on" value="unloaded"><label for="rdo9">Unloaded </label></li>
                                                
                                </ul>        
                            </div>

                            <div class="col-lg-4">
                                <h4>IDLE</h4>
                                <ul><h4>No Demand</h4>
                                    <li><input id="rdo10" type="radio" name="on" value="No Product to Load"><label for ="rdo10">No Product to Load</li>
                                    <li><input id="rdo11" type="radio" name="on" value="productScheduledToLoad"><label for ="rdo11">Product Scheduled To Load</li>         
                                </ul>   
                                <ul><h4>Material Unavailable</h4>
                                    <li ><input id="rdo12" type="radio" name="on" value="No Material to Load"><label for ="rdo12">No Material to Load</li>
                                    <li><input id="rdo13" type="radio" name="on" value="Material Refilled"><label for ="rdo13">Material Refilled</li>
                                </ul>
                                <ul><h4>Power Failure</h4>
                                    <li><input id="rdo14" type="radio" name="on" value="Power Gone"><label for ="rdo14">Power Gone</li>
                                    <li><input id="rdo15" type="radio" name="on" value="Power Resume"><label for ="rdo15">Power Resume</li>
                                </ul>
                                <ul><h4>Operator Unavailable</h4>
                                    <li><input id="rdo16" type="radio" name="on" value="Operator busy with other work"><label for ="rdo16">Operator busy with other work</li>
                                    <li><input id="rdo17" type="radio" name="on" value="Operator Absent"><label for ="rdo17">Operator Absent</li>
                                    <li><input id="rdo18" type="radio" name="on" value="Operator Arrive"><label for ="rdo18">Operator Arrive</li>
                                
                                </ul>
                            </div>

                            <div class="col-lg-4">
                                <h4>FAILED</h4>
                                <ul><h4>Component Assembly</h4>
                                    <li><input id="rdo19" type="radio" name="on" data-value="Component Assembly 1"><label for ="rdo19">Component Assembly 1</li>
                                    <li><input id="rdo20" type="radio" name="on" data-value="Component Assembly 2"><label for ="rdo20">Component Assembly 2</li>
                                    <li><input id="rdo21" type="radio" name="on" data-value="Component Assembly 3"><label for ="rdo21">Component Assembly 3</li>
                                    <li><input id="rdo22" type="radio" name="on" data-value="Component Assembly 4"><label for ="rdo22">Component Assembly 4</li>
                                    <li><input id="rdo23" type="radio" name="on" data-value="Component Assembly 5"><label for ="rdo23">Component Assembly 5</li>
                                </ul>
                            </div>
                            </form>
                    </div>
            </div>
                
                 <div class="VIEW" style ="display :none ;text-align: left;">
                     <form role= "form" action="/users/afterRegister" method="POST" class = "registration-form">
                     <p>Manufacturing Details</p>
                        <select class="btn btn-default dropdown-toggle" id="Selection" name="Selection">
										<option value="3D Printer">3D Printer</option>
										<option value="CNC TABLE">CNC Table</option>
									</select>
                                    <br />
								<label >Machine Name</label>
								<input type="text" name="A1" placeholder="Machine Name" class="form-first-name form-control" id="A1" value = {{data.username}}>
                                <label class="sr-only" for="IDD">IDD</label>
								<input type="text" name="IDD" placeholder="IDD" class="form-first-name form-control" id="IDD" value = {{data.username}} style="display:none" >
                                <div class="form-group">
								<label >Manufacturer</label>
								<input type="text" name="A2" placeholder="Manufacturer" class="form-last-name form-control" id="A2" value = {{data.A2}} >
							</div>
							<div class="form-group">
								<label >Model Name</label>
								<input type="text" name="A3" placeholder="Model Name" class="form-last-name form-control" id="A3" value = {{data.A3}}>
							</div>
							<div class="form-group">
								<label >Model No</label>
								<input type="text" name="A4" placeholder="Model No" class="form-last-name form-control" id="A4" value = {{data.A4}}>
							</div>
							<div class="form-group">
								<label >Manufacturing Date</label>
								<input type="text" name="A5" placeholder="Manufacturing Date" class="form-last-name form-control" id="A5" value = {{data.A5}}>
							</div>
							<div class="form-group">
								<label>Cost</label>
								<input type="text" name="A6" placeholder="Cost" class="form-last-name form-control" id="A6" value = {{data.A6}}>
							</div>
							<div class="form-group">
								<label >Expected Life</label>
								<input type="text" name="A7" placeholder="Expected Life (WARRANTY)" class="form-last-name form-control" id="A7" value = {{data.A7}}>
							</div>
							<div class="form-group">
								<label >Support Link</label>
								<input type="text" name="A8" placeholder="Support Link" class="form-last-name form-control" id="A8" value = {{data.A8}}>
							</div>
                            <div class="form-group">
								<label >Build Volume</label>
								<input type="text" name="A9" placeholder="Build Volume" class="form-email form-control" id="A9" value = {{data.A9}}>
							</div>
							<div class="form-group">
								<label >Layer Resolution Height</label>
								<input type="text" name="A10" placeholder="Layer Resolution Height" class="form-password form-control" id="A10" value = {{data.A10}}>
							</div>

							<div class="form-group">
								<label >Machine Size</label>
								<input type="text" name="A11" placeholder="Machine Size"class="form-repeat-password form-control" id="A11"value = {{data.A11}}>
							</div>
							<div class="form-group">
								<label >Machine Weight</label>
								<input type="text" name="A12" placeholder="Machine Weight" class="form-repeat-password form-control" id="A12" value = {{data.A12}}>
							</div>
							<div class="form-group">
								<label >Power Consumption</label>
								<input type="text" name="A13" placeholder="Power Consumption" class="form-repeat-password form-control" id="A13" value = {{data.A13}}>
							</div>
							<div class="form-group">
								<label >Connectivity</label>
								<input type="text" name="A14" placeholder="Connectivity" class="form-repeat-password form-control" id="A14" value = {{data.A14}}>
							</div>
							<div class="form-group">
								<label >Filament User</label>
								<input type="text" name="A15" placeholder="Filament User"class="form-repeat-password form-control" id="A15" value = {{data.A15}}>
							</div>
							<div class="form-group">
								<label >Nozzle Diameter</label>
								<input type="text" name="A16" placeholder="Nozzle Dia" class="form-repeat-password form-control" id="A16" value = {{data.A16}}>
							</div>
							<div class="form-group">
								<label>Filament</label>
								<input type="text" name="A17" placeholder="Filament" class="form-repeat-password form-control" id="A17" value = {{data.A17}}>
							</div>
							<div class="form-group">
								<label >Print File</label>
								<input type="text" name="A18" placeholder="Print File" class="form-repeat-password form-control" id="A18" value = {{data.A18}}>
							</div>
                            <p>Specifications</p>
                            <div class="form-group">
								<label >Print Size</label>
								<input type="text" name="A19" placeholder="Printing Size" class="form-facebook form-control" id="A19" value = {{data.A19}}>
							</div>
							<div class="form-group">
								<label >Support Filament</label>
								<input type="text" name="A20" placeholder="Support Filament" class="form-twitter form-control" id="A20" value = {{data.A20}}>
							</div>
							<div class="form-group">
								<label> Resolution</label>
								<input type="text" name="A21" placeholder="Resolution" class="form-google-plus form-control" id="A21" value = {{data.A21}}>
							
                            </div>
							<div class="form-group">
								<label >Accuracy</label>
								<input type="text" name="A22" placeholder="Accuracy" class="form-google-plus form-control" id="A22" value = {{data.A22}}>
							</div>
							<div class="form-group">
								<label >Run Through</label>
								<input type="text" name="A23" placeholder="Run Through" class="form-google-plus form-control" id="A23" value = {{data.A23}}>
							</div>
							<div class="form-group">
								<label >Technology</label>
								<input type="text" name="A24" placeholder="Technology" class="form-google-plus form-control" id="A24" value = {{data.A24}}>
							</div>
                            <p>EXTRA DETAILS</p>
                            <div class="form-group">
								<label >Details</label>
								<input type="text" name="A25" placeholder="DETAILS" class="form-facebook form-control" id="A25" value = {{data.A25}}>
							</div>
                            <button ahref = "" type="submit" class="btn">UPDATE PROFILE</button>   
                     </form> 
                     <script src="static.js"></script>
                     <script src="assets/js/jquery-1.11.1.min.js"></script>
                     <script src="assets/bootstrap/js/bootstrap.min.js"></script>
                     <script src="assets/js/jquery.backstretch.min.js"></script>
                     <script src="assets/js/retina-1.1.0.min.js"></script>
                     <script src="assets/js/scripts.js"></script>
                     <script src="Static.js"></script>

				</div>
                <div class = "UPDATE" style ="display : none ;text-align: left;">
                    <h1><strong>Machine Profile </strong></h1> 
                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 1 / 4</h3>
                                <p>Manufacturing Details</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-user"></i>

                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label >Machine Type </label>
                                </br>{{data.selection}}
                                </br>
                                <br />
                                <label >Machine Name </label>
                                <label type="text" name="A1" placeholder="Machine Name" class="form-first-name form-control" id="A1" >{{data.username}} </label></div>
                            <div class="form-group">
                                <label >Manufacturer</label>
                                <label type="text" name="A2" placeholder="Manufacturer" class="form-first-name form-control" id="A2">{{data.A2}}</label>
                            </div>
                            <div class="form-group">
                                <label >Model Name</label>
                                <label type="text" name="A3" placeholder="Model Name" class="form-last-name form-control" id="A3">{{data.A3}}</label>
                            </div>
                            <div class="form-group">
                                <label >Model No</label>
                                <label type="text" name="A4" placeholder="Model No" class="form-last-name form-control" id="A4">{{data.A4}}</label>
                            </div>
                            <div class="form-group">
                                <label >Date</label>
                                <label type="text" name="A5" placeholder="Manufacturing Date" class="form-last-name form-control" id="A5">{{data.A5}}</label>
                            </div>
                            <div class="form-group">
                                <label >Cost</label>
                                <label type="text" name="A6" placeholder="Cost" class="form-last-name form-control" id="A6">{{data.A6}}</label>
                            </div>
                            <div class="form-group">
                                <label >Warranty</label>
                                <label type="text" name="A7" placeholder="Expected Life (WARRANTY)" class="form-last-name form-control" id="A7">{{data.A7}}</label>
                            </div>
                            <div class="form-group">
                                <label >Build Volume</label>
                                <label type="text" name="A8" placeholder="Support Link" class="form-last-name form-control" id="A8">{{data.A8}}</label>
                            </div>



                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 2 / 4</h3>
                                <p>Main Features</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label >Layer Resolution</label>
                                <label type="text" name="A9" placeholder="Build Volume" class="form-email form-control" id="A9">{{data.A9}}</label>
                            </div>
                            <div class="form-group">
                                <label >Extruder</label>
                                <label type="text" name="A10" placeholder="Layer Resolution Height" class="form-password form-control" id="A10">{{data.A10}}</label>
                            </div>

                            <div class="form-group">
                                <label >Size</label>
                                <label type="text" name="A11" placeholder="Machine Size"
                                       class="form-repeat-password form-control" id="A11">{{data.A11}}</label>
                            </div>
                            <div class="form-group">
                                <label >Weight</label>
                                <label type="text" name="A12" placeholder="Machine Weight"
                                       class="form-repeat-password form-control" id="A12">{{data.A12}}</label>
                            </div>
                            <div class="form-group">
                                <label >Consumption</label>
                                <label type="text" name="A13" placeholder="Power Consumption"
                                       class="form-repeat-password form-control" id="A13">{{data.A13}}</label>
                            </div>
                            <div class="form-group">
                                <label >Connectivity</label>
                                <label type="text" name="A14" placeholder="Connectivity"
                                       class="form-repeat-password form-control" id="A14">{{data.A14}}</label>
                            </div>
                            <div class="form-group">
                                <label >Filament Used</label>
                                <label type="text" name="A15" placeholder="Filament User"
                                       class="form-repeat-password form-control" id="A15">{{data.A15}}</label>
                            </div>
                            <div class="form-group">
                                <label >Nozzle Diameter</label>
                                <label type="text" name="A16" placeholder="Nozzle Dia"
                                       class="form-repeat-password form-control" id="A16">{{data.A16}}</label>
                            </div>
                            <div class="form-group">
                                <label >Filament</label>
                                <label type="text" name="A17" placeholder="Filament"
                                       class="form-repeat-password form-control" id="A17">{{data.A17}}</label>
                            </div>
                            <div class="form-group">
                                <label >Print File</label>
                                <label type="text" name="A18" placeholder="Print File"
                                       class="form-repeat-password form-control" id="A18">{{data.A18}}</label>
                            </div>

                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 3 / 4</h3>
                                <p>Specifications</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label >Print Size</label>
                                {{LoginUser}}
                                <label type="text" name="A19" placeholder="Printing Size" class="form-facebook form-control" id="A19">{{data.A19}}</label>
                            </div>
                            <div class="form-group">
                                <label>Support Filament</label>
                                <label type="text" name="A20" placeholder="Support Filament" class="form-twitter form-control" id="A20">{{data.A20}}</label>
                            </div>
                            <div class="form-group">
                                <label >Resolution</label>
                                <label type="text" name="A21" placeholder="Resolution" class="form-google-plus form-control" id="A21">{{data.A21}}</label>
                            </div>
                            <div class="form-group">
                                <label >Accuracy</label>
                                <label type="text" name="A22" placeholder="Accuracy" class="form-google-plus form-control" id="A22">{{data.A22}}</label>
                            </div>
                            <div class="form-group">
                                <label >Run Through</label>
                                <label type="text" name="A23" placeholder="Run Through" class="form-google-plus form-control" id="A23">{{data.A23}}</label>
                            </div>
                            <div class="form-group">
                                <label >Technology</label>
                                <label type="text" name="A24" placeholder="Technology" class="form-google-plus form-control" id="A24">{{data.A24}}</label>
                            </div>

                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Step 4 / 4</h3>
                                <p>Extra Information</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-twitter"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label >DETAILS</label>
                                <label type="text" name="A25" placeholder="DETAILS" class="form-facebook form-control" id="A25">{{data.A25}}</label>

                            </div>
                        </div>

                    </fieldset>
<script src="Retrieve.js"></script>
<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/retina-1.1.0.min.js"></script>
<script src="assets/js/scripts.js"></script>
</center>
</div>

        <div class="col-md-2 rightBox">
            <div class="chatBox">
                <div class="chatHead" >
                    Chat Box
                </div> 
                <div class="chatBody">
                    <div class="chatShow"> 
                        <div class="insertUser">
                            
                        </div>
                    </div>
                    
                </div>  
            </div>
            <!-- msgBox-->
            <div class="msgBox">
                <div class="msgHead">
                    <span id="demo"></span>
                    
                    <div class="close">x</div>
                </div>
                
                <div class="msgWrap">
                    <div class="msgBody">
                        <div class="msgA">This is from A</div>
                        <div class="msgB">This is from B</div>
                        <div class="msg_insert"></div>
                    </div>

                    <div class="msgFooter">
                        <input  type="text" class="form-control" name="sendMsg">
                    </div>
                </div>
            </div>
            
        </div>
</div>